.container {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.pokedex {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

button {
   border: none;
   cursor: pointer;
   appearance: none;
   background-color: inherit;
}

button img {
   width: 48px;
   height: 48px;
}

.rotate {
   transform: rotate(180deg);
   width: 48px;
   height: 48px;
}

.img-like-button {
   margin: 0 5px;
}

.page-numbering {
   display: flex;
   justify-content: center;
   /* width: 150px; */
   margin: 0 10px;
}

.page-numbering button {
   font-size: 20px;
}