.pokemon-holder {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.pokemon-holder img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.type {
    width: 100%;
    padding: 10px;
    margin: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.pokemon-headline {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.pokemon-stats {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.pokemon-stats p {
    font-weight: 600;
    font-size: 18px;
}