.pokemon-stats-holder {
    justify-content: space-around;
    flex-direction: row;
}

.container section {
    flex-direction: row;
}

.pokemon-buttons {
    padding: 7px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
}

.pokemon-holder {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.pokemon-holder img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.type {
    width: 100%;
    padding: 10px;
    margin: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.pokemon-headline {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.pokemon-stats {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.pokemon-stats p {
    font-weight: 600;
    font-size: 18px;
}

.back-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.back-button {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    margin: auto;
}