.container {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.pokedex {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.next {
   justify-self: end;
}

button {
   border: none;
   cursor: pointer;
   appearance: none;
   background-color: inherit;
}

button img {
   width: 48px;
   height: 48px;
}

.rotate {
   transform: rotate(180deg)
}